/* Button */
.btn {
  cursor: pointer;
  font-size: var(--button-font-sz);
  font-family: var(--button-font-fm);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-h);
  width: fit-content;
  pointer-events: auto;
  border-style: var(--border-st);
  border-width: var(--border-w);
  border-color: var(--transparent);
  border-radius: var(--button-border-rad);
  text-transform: uppercase;
  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  font-weight: var(--font-wgt-reg);
  letter-spacing: normal;
  padding: var(--button-pad);
  background-image: var(--transparent);
  gap: var(--gap-xxs);

  &:disabled {
    background-color: var(--grey-100);
    color: var(--white);
    pointer-events: none;
    cursor: not-allowed;
  }
}
.btn__icon {
  display: flex;
}
.btn__icon--left {
  order: 0;
}
.btn__icon--right {
  order: 2;
}
.btn--default {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  color: var(--white);
  background-image: var(--button-clr-hover);
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--button-clr);
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  &:hover {
    &::before {
      opacity: 0;
    }
  }

  &:active {
    &::before {
      background-color: var(--button-clr-active);
      opacity: 1;
    }
  }
}
.btn--outline {
  position: relative;
  isolation: isolate;
  border: var(--border-w) solid var(--button-clr);
  color: var(--button-clr);
  background-color: transparent;
  background-image: var(--brand-gradient);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--button-clr);
  transition:
    color 0.3s ease,
    -webkit-text-fill-color 0.3s ease,
    border-color 0.3s ease;

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: calc(-1 * var(--border-w));
    border-radius: calc(var(--button-border-rad) + var(--border-w));
    padding: calc(var(--border-w) * 1);
    background: var(--brand-gradient);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    /* Стандартная маска */
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    /* WebKit-маска с правильным значением */
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
  }

  &:hover {
    color: var(--transparent);
    -webkit-text-fill-color: transparent;
    border-color: transparent;

    &::before {
      opacity: 1;
    }
  }

  &:disabled {
    border-color: var(--button-clr-disabled);
    color: var(--button-clr-disabled);
    -webkit-text-fill-color: var(--button-clr-disabled);
    background-image: none;

    &::before {
      opacity: 0;
    }
  }

  &:active {
    border-color: var(--button-clr-active);
    color: var(--button-clr-active);
    -webkit-text-fill-color: var(--button-clr-active);

    &::before {
      opacity: 0;
    }
  }
}
.btn__icon--reverse {
  order: 1;
}
